* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    margin: 0; 
}

body {
    display: flex;
    background: floralwhite;
    height: 95vh;
    margin: 1em;
    margin-top: 0;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: floralwhite;
    padding: 1em;
    width: 98%;
}

.header-left, .header-right, .header-left > *, .header-right > * {
    display: flex;
    flex: 1;
}

.header-right > * > * {
    margin-left: auto;
}

a:hover {
    color: red;
}

.divider {
    background: black;
    position: fixed;
    width: 1px;
    height: 100%;
    left: 50%;
}

main {
    display: flex;
    width: 100%;
    margin-top: 3em;
}

.container {
    border: 2px solid red;
    padding: 1em;
    width: 49%;
    height: 100%;
    margin: 1em;
    overflow: auto;
}

.text {
    width: 50%;
    float: right;
    text-align: right;
}


.grid-item {
    width: 30%;
    margin: .5em;
}