* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    margin: 0; 
}

body {
    display: flex;
    background: floralwhite;
    height: 96vh;
    margin: 1em;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: floralwhite;
    width: 98%;
    /* border: solid red 1px; */
}

.header-left, .header-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    /* border: solid green 1px; */
    margin: 1em;
}

a:hover {
    color: red;
}

.divider {
    background: black;
    position: fixed;
    width: 1px;
    height: 94%;
    top: 3%;
    left: 50%;
}

main {
    display: flex;
    width: 100%;
    margin-top: 3em;
}

.container {
    /* border: 2px solid red; */
    padding: 1em;
    width: 50%;
    height: 100%;
    /* margin: 1em; */
    overflow: auto;
}

.text {
    width: 50%;
    float: right;
    text-align: right;
}

.grid {
    border: solid red 2px;
}

.grid-item {
    width: 30%;
    margin: 0.5em;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 50%;
    border-radius: 20%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }